// Define variables for your color scheme

// For example:
$red-chili: #C21807;
$red-scarlet: #FF2400;
$red-candy:  #FF0800;
$red: $red-scarlet;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: white;
