// Specific CSS for your home-page
.home-page-banner {
  position: relative;

  h1 {
    font-size: 60px;
    font-weight: 700;
    color: white;
  }

  p {
    color: white;
    text-shadow: 0.1px 0.1px 4px black;
  }

  a {
    font-weight: 300;
    font-size: 22px;
    i {
      padding-right: 5px;
    }
  }

  .video-container {
    height: 625px; //calc(100vh - 82px); // depends on height of navabar
    // @media only screen and (min-width: 1300px) {
    //   height: 600px;
    // }
    display: flex;
    align-items: center;
    margin-bottom: 7px;
  }

  video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
  }

  .banner-text {
    z-index: 1;
    position: relative;
    text-align: left;
    margin-left: 50px;
    width: 450px;
  }
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: $red-scarlet;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: $red-chili;
  color: white;
}

.home-page-heading h1 {
  padding: 5px 0px 0px;
  font-size: 25px;
  font-weight: 700;
  margin-left: 45px;
}
