



<h4 class="text-center">All other videos that <%= @user.first_name + " " + @user.last_name %> is part of</h4>


<div class="thumbnails">
  <% @videos.each do |video| %>
  <%= render 'video', video: video %>
  <% end %>
</div>
