
<div data-search-videos-target="list">
 <%# <div class="index-container"> %>
      <div class="thumbnails">
        <% videos.each do |video| %>
          <%= render "video", video: video %>
        <% end %>
      </div>
  <%# </div> %>
</div>
