<div id="<%= dom_id video %>">
<div class="col">
      <%= link_to video_path(video), class: "text-decoration-none" do %>
        <div class="video-card">
          <%= cl_image_tag video.thumbnail.key, class: "video-thumbnail", height: 150, width: 200, controls: true %>
        </div>
      <% end %>
    </div>
</div>
