<p style="color: green"><%= notice %></p>

<h1>Videos</h1>


   <div class="thumbnails">
     <% @videos.each do |video| %>
     <%= render 'video', video: video %>
     <% end %>
  </div>


<%= link_to "New video", new_video_path %>
