<h2 class="text-center">Hi, <%= current_user.first_name %></h2>
<% if current_user.creator? %>

<h1 class="text-center"><%= "Videos uploaded by #{current_user.first_name}" %></h1>


   <div class="thumbnails">
     <% @videos.each do |video| %>
     <%= render 'video', video: video %>
     <% end %>
  </div>



<div class="text-center">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
  Upload a video
</button>
</div>



<% else %>
<%= "You are not a creator" %>
<% end %>


<div class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Modal body text goes here.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
