<h2>Hi, <%= current_user.first_name %></h2>
<% if current_user.creator? %>
<h2><%= "You are a creator" %></h2>
<%= link_to "New video", new_video_path %>
<% else %>
<%= "You are not a creator" %>
<% end %>
