<div class="home-page-banner">
  <div class="video-container">
    <% if @feature_video.videofile.attached? %>
      <%= cl_video_tag @feature_video.videofile.key, autoplay: :autoplay, loop: :loop %>
    <% end %>
    <div class="banner-text">
      <h1>Movie title</h1>
      <p>Movie description</p>
      <p>Trending Now</p>
    </div>
  </div>
</div>
<div class="container">
  <div><h1>Continue watching for Cecil</h1></div>
  <div class="thumbnails">
    <% @top_movies.each do |video| %>
      <%= render 'videos/video', video: video %>
      <% end %>
  </div>

  <div><h1>Popular on ShowTime</h1></div>
  <div class="thumbnails">
    <% @top_tv.each do |video| %>
      <%= render 'videos/video', video: video %>
      <% end %>
  </div>

  <div><h1>Trending now</h1></div>
  <div class="thumbnails">
    <% @trending_movies.each do |video| %>
      <%= render 'videos/video', video: video %>
      <% end %>
  </div>
</div>
