.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: rgb(245, 245, 245);
  border-radius: 30px;
  padding: 10px;
  border: black 1px solid;
  }


  .search_input{
  color: black;
  border: 0;
  outline: 0;
  background: none;
  width: 450px;
  caret-color:transparent;
  line-height: 30px;
  transition: width 0.4s linear;
     padding: 0 10px;

  }

  .searchbar:hover > .search_input{

 padding-right: 0 15px;
  caret-color:red;
  transition: width 0.4s linear;
  }

  ::placeholder {
    color: black;
    opacity: 1; /* Firefox */
  }
  .search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color:white;
    text-decoration:none;
    }
