.navbar-lewagon {
  justify-content: space-between;
  background: transparent;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon img {
  width: 40px;
}

.navbar-brand {
  text-decoration: none;
  color: $red-scarlet;

  color: red; /* Set the text color to red */
  animation: glowing 1.5s infinite; /* Apply the glowing animation */

  h1 {
    font-family: "Lobster";
  }
}
.nav-link-border {
  // margin: 0 20px;
  border-right: 1px solid black;
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 0, 0, 0.9);
  }
  100% {
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.7);
  }
}

/* Apply the animation to the h1 element */
.navbar-item .nav-item .nav-link{
  color: #333;
  text-decoration: none;
  margin-right: 5px;
  padding: 0 10px;
  font-weight: 100;
  transition: color 0.3s;
}


.navbar-item .nav-item .nav-link:hover{
  color: red;
  background-color: #f8f9fa;
  font-weight: bold;

}

