// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
  // margin: 0% 20px;

  body.dark-theme {
    color: #eee;
    background: #121212;

    .producer-user{
      background-color: rgb(63, 63, 63);

      h2{
        color: white;
      }
    }

    .producer-descript-content{
      color:white;
      background-color: rgb(63, 63, 63);
    }
    .Comment {
      background-color: rgb(63, 63, 63);

      h1 {
        color: white;
      }
    }

    .navbar-item .nav-item .nav-link {
      color: white;
    }
    .test-gh {
      background-color: red;
    }
  }
