// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
  // margin: 0% 20px;

  body.dark-theme {
    color: #eee;
    background: #121212;
    .gradient-overlay {
      position: absolute;
      bottom: 0; /* Align the gradient overlay to the bottom of the video container */
      left: 0;
      width: 100%;
      height: 20%; /* Adjust the height as needed to control the gradient area */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(18, 18, 18, 1));
      pointer-events: none;
    }
    .searchbar {
      // border-top: red 2px solid;
      background-color: rgb(63, 63, 63) ;

      .search_input {
        color:white;
      }
      ::placeholder {
        color: white;

      }

      .search_icon {
        color: white;
      }
    }

    .navbar {
      background-color: black;
      box-shadow: 0 4px 6px rgba(255, 0, 0, 0.8);
      transition: box-shadow 0.5s ease;
    }

    .producer-user{
      background-color: rgb(63, 63, 63);

      h2 {
        color: white;
      }
    }

    .producer-descript-content{
      color:white;
      background-color: rgb(63, 63, 63);
    }

    .User-Comment {
      background-color: rgb(54, 53, 53);

      h2{
        color: white;
      }

      p{
        color: white; }
    }

    .Comment {
      background-color: rgb(63, 63, 63);

      h1 {
        color: white;
      }
    }
    .navbar-item .nav-item .nav-link {
      color: white;
    }
    .test-gh {
      background-color: red;
    }

    .modal-content {
      color: black;
    }

    .studio-title {
      color: black;
    }
  }
