
  <div class="text-center">
  <br>
  <h1>All Studios</h1>
  <br>
  <button type="button" class="btn btn-flat" data-toggle="modal" data-target="#exampleModalCenter">
  Register your studio
  </button>
</div>

<!-- Modal -->
<div class="modal fade show" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle"><%= current_user.first_name %>'s New Studio</h5>
        <button type="button" class="close btn btn-flat" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'new' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="row p-4 justify-content-center dark-ignore">
  <% @studios.each do |studio| %>
    <%= render "studio", studio: studio %>
  <% end %>
</div>
